.features {
  padding: 2rem;
  text-align: center;
}

.features h3 {
  color: #388e3c;
  margin-bottom: 1rem;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
